* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.QR-container {
    background-color: white;
    border: 1px;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

#QR-input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 100;
    border-radius: 10px;
}

#QR-button {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    background-color: green;
    color: azure;
}